{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block navbar %}
<ul class="nav navbar-nav">
  <li class="active"><a href="/admin/home">Administration</a></li>
  <li><a href="/home">Home</a></li>
  <li><a href="/admin/mission/create">Créer une mission</a></li>
  <li><a href="/admin/mission/list">Voir les missions</a></li>
  <li><a href="/admin/party/list">Voir les partys</a></li>
  <li><a href="/admin/user/view">Voir les utilisateurs</a></li>
  <li><a href="/jeudesociete">Jeux de sociétés</a></li>
</ul>

{% endblock %}

{% block body %}
{% endblock %}
