{# templates/emails/registration.html.twig #}
<h3>Quelle tristesse</h3>
<p>
Tu m'as beaucoup déçu agent {{participant.getName}}, on m'a signalé ta mort insignifiante.
J'espère que te rattraperas une prochaine fois.
</p>
<p>
Fin de transmission.
</p>
