{# templates/emails/registration.html.twig #}
<h3>Quelle tristesse</h3>

Tu m'as beaucoup déçu agent {{participant.getName}}, on m'a signalé ta mort insignifiante.
J'espère que te rattraperas une prochaine fois.

Fin de transmission.
