{# templates/emails/registration.html.twig #}
<h3>Il n'en reste plus qu'un!</h3>

Merci à tous pour cette partie exceptionnelle.
Cependant un seul d'entre vous a su se montrer à la hauteur.
Aujourd'hui c'est {{winner.getName}} qui vous aura tous dominer en remportant sont duel contre le lamentable {{loser.getName}}, mais qui sait ce que nous réserve le futur.

Fin de transmission.
