{# templates/emails/registration.html.twig #}
<h3>Bravo agent {{participant.getName}}</h3>

Il semblerait que tu ai réussi un kill.
L'agence te félicite. Mais ne te reposes pas trop car tu as déjà une nouvelle cible ainsi qu'une nouvelle mission.

Utilise ton espace personnel pour les consulter ({{participant.getUid}})
Tu peux utiliser cette url : <a href="http://ckngf.fr/participant/{{participant.getUid}}">Mon profil</a>.

Fin de transmission.
